.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://wallpoper.com/images/00/25/59/08/deadlift-bar_00255908.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.loginSection{
    margin-top:10px;
}

#hideAlert{
    display:none;
}

.linkDisabled{
    cursor: not-allowed;
}

#loginPortal{
	border:1px solid black;
	border-radius:15px;
	background-color:rgb(34,34,34);
	opacity:0.85;
	padding: 0 35px;
	margin-top:15%;
}

#loginPortal h1{
	color:white;
	text-align:center;
}

#loginPortal .btn{
	color:black;
}

#loginPortal .btn-primary{
	margin-bottom:20px;
	margin-top:-20px;
	width:100px;
	color:white;
}
.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("lion.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.leftPanel, .rightPanel, .mainPanel, .navbar{
    background-color:black;
    opacity:0.7;
    color:white;
}
.navbar{
    border-radius:0;
}

.topMargin{
    margin-top: -20px;
}

.leftPanel, .rightPanel, .mainPanel{
    border:1px solid darksalmon;
    border-radius:10px;
    webkit-border-radius: 10px;
    moz-border-radius: 10px;
}

ul.dropdown-menu{
    z-index:1;
}

.mainPanel{
    z-index:0;
}

.nav a{
    color:white;
}

.navbar-brand{
    color:darksalmon;
}

.addedPadding{
    padding-right: 15px;
    padding-left: 15px;
}